mixin info(pet)
  - var fakeLongDesc = pet.description.concat(pet.description).concat(pet.description);
  .pic
    img(src=`/images/${pet.pictures[0]}.jpg`, alt=pet.name)
  .text
    h1= pet.name
    each par in fakeLongDesc
      p= par
  .toggle
    .gradient
    .more= "Read more..."
    .less= "Read less..."
