mixin list(pets)
  ul.list
    each pet in pets
      li
        a(href=`/${pet.id}`)
          .thumb(style=`background-image: url("/images/${pet.pictures[0]}_thumb.jpg")`)
          div
            p= pet.name
