body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

img {
  max-width: 100%;
  border-radius: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}

#info,
#sidebar {
  box-sizing: border-box;
  max-height: 720px;
  background-color: #e5e7eb;
  border-radius: 20px;
  overflow: hidden;
}

#info {
  position: relative;
  display: flex;
  flex: 1;
  margin-right: 12px;
  padding: 50px;
  transition: max-height 20s cubic-bezier(0, 1, 0, 1);
}

#info.toggle-expanded {
  transition: max-height 10s ease-in-out;
}

#info .pic {
  min-width: 30%;
  margin-right: 20px;
}

#info .text h1 {
  margin-top: 5px;
}

#sidebar {
  width: 20%;
  max-width: 300px;
  overflow: auto;
  padding: 20px 10px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin-top: 20px;
}

.list li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
}

.list li .thumb {
  width: 85px;
  height: 85px;
  background-size: 85px;
  margin-right: 20px;
  border-radius: 20px;
}

.toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
}

.toggle .gradient {
  background-image: linear-gradient(to bottom, transparent, #e5e7eb);
  height: 50px;
  width: 100%;
}

.toggle .more,
.toggle .less {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.toggle .less {
  display: none !important;
}

.toggle-expanded {
  max-height: 100000px !important;
}

.toggle-expanded .toggle .gradient {
  display: none;
}

.toggle-expanded .toggle .less {
  display: flex !important;
}

.toggle-expanded .toggle .more {
  display: none !important;
}
